/*CSS DOCUMENT*/
body{
    transition: all 0.3s ease;
}

.notification{
    padding: 20px 0;
}
.notification p{
    margin: 0;
    padding: 0
}
ul#todo-list{
    margin-top: 20px;
    padding: 0;
}
ul#todo-list li{
    list-style-type: none;
    padding: 10px;
    border-top: 1px solid rgba(0,0,0,0.2);
    animation: fade-in 0.9s;
}
ul#todo-list li:first-child{
    border-top: none;
}
ul#todo-list li input[type=checkbox]{
    vertical-align: top;
    border: none;
    background: transparent;
}
ul#todo-list li span{
    font-size: 1.2em;
    padding: 0px 10px;
}
.btns .glyphicon-remove{
    font-size: 18px;
    vertical-align: top;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
}
.hidden{
    visibility: hidden;
}
.completed span{
    text-decoration: line-through;
    color: #ccc;
}

#info-bar{
	margin-bottom: 10px;
	height: 31px;
}
p#countNotifier{
	display: inline-block;
	margin: 0px 90px 0px 0px;
}

@media (max-width: 991px){
    #completed {
        margin-bottom: 0px;
    }
}
@keyframes fade-in{
    0%{
        opacity: 0;
        /*transform: translateY(-100%);*/
    }
    100%{
        opacity: 1;
        /*transform: translateY(0%);*/
    }
}
